@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom Base
 *
 * Add extra base styles.
 */
 @layer base {
  a {
    @apply font-bold;
  }

  a:hover {
    @apply underline;
  }

  body {
    @apply text-base font-sans leading-normal normal-case;
  }

  p {
    @apply text-lg font-sans leading-normal normal-case font-extralight;
  }

  hr {
    @apply border-brown-500;
  }

  h1 {
    @apply text-4xl leading-snug tracking-wide;
  }

  h2 {
    @apply text-3xl leading-normal tracking-wide;
  }

  h3 {
    @apply text-2xl leading-normal;
  }

  h4 {
    @apply text-xl leading-normal;
  }

  h5 {
    @apply text-lg leading-normal;
  }

  h6 {
    @apply text-base leading-normal;
  }

  b,
  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
}

.container {
  @apply w-full mx-auto px-4;
}

@screen sm {
  .container {
    @apply max-w-screen-sm;
  }
}

@screen md {
  .container {
    @apply max-w-screen-md;
  }
}

/**
 * Styles for icon links.
 */
.icon-link:hover:after,
.icon-link:focus:after {
  @apply bg-transparent;
}
 
.icon-link:hover svg,
.icon-link:focus svg {
  @apply stroke-2;
}
 
.icon-link:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  top: -6px;
  left: -6px;
  padding: 6px;
  box-shadow: 0 0 0 3px #fff;
  transition: transform 0.2s,opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
 
.icon-link:hover:after,
.icon-link:focus:after {
  transform: scale(1);
  opacity: .5;
}
 
