name: Deploy to GitHub pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v1 
      - uses: xmflsct/action-publish-gatsby@v1 
        with:
          publishBranch: 'main' 
          token: ${{ secrets.NAME }} # Your personal access token of GitHub, read more below of how to obtain one and keep it safe
          contentfulSpace: ${{ secrets.CONTENTFUL_SPACE_ID }} # Your Space ID in Contentful
          contentfulToken: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }} # Your access token of Contentful